Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-Login==0.3.2
Jinja2==2.8
MarkupSafe==0.23
Paste==2.0.2
WebOb==1.5.1
Werkzeug==0.11.4
argparse==1.4.0
cffi==1.5.2
cryptography==1.2.3
decorator==4.0.9
enum34==1.1.2
gunicorn==19.4.5
idna==2.0
ipaddress==1.0.16
itsdangerous==0.24
pyOpenSSL==0.15.1
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
pysaml2==4.0.3
python-dateutil==2.5.0
pytz==2015.7
repoze.who==2.2
requests==2.9.1
six==1.10.0
wsgiref==0.1.2
zope.interface==4.1.3
